body[data-topbar=dark] #page-topbar, body[data-topbar=dark] .navbar-brand-box {
    background-color: #1c84ee;
    border-color: #1c84ee;
}

.table_min_height {
    min-height: 280px;
}

.hidden {
    display: none;
}

.btn-close {
    background: none;
    top: 32px;
    cursor: pointer;
    color: red;
}

.select2-container {
    width: 100% !important;
}
